<div id="{{ id }}_advanced">

    <div class="field">
        <div class="heading">
            <label for="recurringOrder-paymentSourceId" class="">
                {# TODO: Translate. #}
                Custom Title
            </label>
        </div>
        <div class="input">
                <span>
                    {% include '_includes/forms/text' with {
                        id: 'customTitle',
                        name: 'customTitle',
                        value: '',
                    } %}
                </span>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label for="recurringOrder-paymentSourceId" class="">
                {# TODO: Translate. #}
                Order Query
            </label>
        </div>
        <div class="input">
                <span>
                    {% include '_includes/forms/select' with {
                        id: 'queryModifierKey',
                        name: 'queryModifierKey',
                        value: widget.queryModifierKey,
                        options: craft.app.getModule('advanced-commerce-widgets').queries.getOrderQueryModifierSelectOptions,
                    } %}
                </span>
        </div>
    </div>

</div>

{% include 'commerce/_components/widgets/orders/total/settings' %}
